<template name="Main_layout">
	
	{{#if currentUser}}
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand" href="#">Autumn Break jam</span>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="{{#if mapActive}}active{{/if}}"><a href="/map"><span class="glyphicon glyphicon-map-marker"></span> Map</a></li>
						<li class="{{#if countryActive}}active{{/if}}"><a href="/country"><span class="glyphicon glyphicon-home"></span> Country</a></li>
						<li class="{{#if regionActive}}active{{/if}}"><a href="/region/1"><span class="glyphicon glyphicon-globe"></span> Region</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#" class="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
	{{/if}}
		{{#if authInProgress}}
			{{> Loading}}
	{{else}}
		{{#if currentUser}}
			{{>Template.dynamic template=content}}
		{{else}}
			{{> Login}}
		{{/if}}
	{{/if}}
	
</template>